{
    canopen: {
        sync_interval: 10,
        sync_count: 6,
        auto_start: true
    },
    mqtt: {
//        username: "user", // not implemented yet
//        password: "pass",// not implemented yet

        birth: {
            topic: "birth/topic",
            payload: "I am alive",
        },
        will: {
            topic: "/last/will/topic",
            payload: "I died"
        }
    },
    receivers: [
        {
            canid: "0x123",
            unpack_template: "u8u8u8",
            var_names: ["val1", "val2", "val3 via int2on_off"],
            topic_template: "/test/bla",
            payload_template: "val1= {val1:x}, val2= {val2:x}, val3= {val3}"
        },
    ],
    transmitters: [
        {
            subscriptions: "/test/trans",
            canid: "val1",
            pack_template: "u8",
            var_names: "val1",
            topic_template: "",
            payload_template: "{val1:d}",
//            exact_match: true // not implemented yet
        },
    ],
    hadiscovery: {
        discovery_prefix: "homeassistant",
        discovery_device_name: "can_bridge_can0",
        ha_birth_topic: "status",
        ha_birth_payload: "online",
        payload: {
            o: {
                name: "can_bridge"
            },
            dev: {
                mf: "RV-C",
                ids: "RBT210LFP51S-12",
                name: "Renogy 48v Battery BMS",
                mdl: "RBT210LFP51S-12"
            },
            cmps: {
                current: {
                    p: "sensor",
                    name: "Total Current",
                    device_class: "current",
                    unit_of_measurement: "A",
                    suggested_display_precision: "2",
                    value_template: "{{value}}",
                    state_topic: "bms/current",
                    unique_id: "RBT210LFP51S-12-current"
                },
            },
            qos: "1",
            avty_t: "bms/bridge/state",
        }
    }
}
